@font-face {
    font-family: "Geo";
    src: url(../Fonts/Geo-Regular.ttf);;
}

#contacttitel{
    font-family: "Geo";
    display: flex;
    color: #b11a09;
    justify-content: center;
}


.contactknop:hover {
    cursor: pointer;
    filter: contrast(60%);
}


#contactform {
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    padding: 20px;
    background-color: #471609;
    border-radius: 10px;
    font-family: "Geo";
}

#top {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#inputtop {
    width: 90%;
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    background: #D9D9D9;
    font-family: "Geo";
    display:  flex;
    flex-wrap: wrap;
}

#center {
    margin: 10px 0;
}

#inputcenter {
    width: 100%;
    max-width: 675px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #D9D9D9;
    resize: none;
    font-family: "Geo";
}

#bottem {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#inputbottem {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    background: #D9D9D9;
    font-family: "Geo";
}





#ontvangen {
    display: flex;
    text-align: center;
    justify-content: center;
    border: 5px;
    border-color: #471609;
    border-width: 15px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    width: 70%;
    height: 20%;
    margin-left: 10%;
    font-family: Geo;
    font-size: 500%;
}