@font-face {
    font-family: "Geo";
    src: url(../Fonts/Geo-Regular.ttf);
}

#FilmsCurrentPage {
    text-decoration: underline;
}

#body {
    display: flex;
    height: 480px;
    justify-content: center;
    margin-top: 2.5%;
    flex-wrap: wrap;
}

#body-color {
    padding: 15px;
}

#img-border {
    border: 5px;
    border-color: #471609;
    border-width: 15px;
    border-style: solid;
    display: flex;
}

#SeeMoreImg {
    position: absolute;
    margin-left: 85%;
    margin-top: 8%;
    bottom: 5px;
    height: 50px;
    width: 220px;
}

#SeeMoreStyle {
    text-decoration: none;
}