@font-face {
    font-family: "Geo";
    src: url(../Fonts/Geo-Regular.ttf);
}
.working{
    display: none;
  margin-top: 30%;  
  color: red;
}
#body{
    display: flex;
    height: 480px;
   justify-content: center;
   margin-top: 2.5%;
}
#body-color{
    padding: 15px ;
}
#img-border{
    border: 5px;
    border-color: #471609;
    border-width: 15px;
    border-style: solid;
}

#SeeMoreImg{
    position:absolute;
    margin-left: 85%;
    margin-top: 8%;
    height: 50px;
    width: 220px;
}
#SeeMoreStyle{
    text-decoration: none;
}
 
