*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}
@font-face {
    font-family: "Geo";
    src: url(../Fonts/Geo-Regular.ttf);
}
#login{
    display: flex;
    padding: -20px;
    margin-left: 400px;
    margin-top: 30px;
    height: 80px ;
    padding: 15px;
}
#nav-bar {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    width: 30px;
    margin-left: 400px;
    margin-top: 55px;
    font-size: 23px;
    font-family: Geo;
}
#nav-color{
    color: #b11a09;
}
#Sigma {
    font-family: Geo;
    margin-top: 30px;
    font-size: 40px;
    display: flex;
    justify-content: left;
    margin-left: 180px;
}

a {
    display: flex;
    text-decoration: none;
}

body {
    background-color: black;
}

#container {
    display: flex;
}

h2{
    padding: 5px;
}

footer{
    display: flex;
    justify-content: center;
    font-family: Geo;
    list-style: none;
    text-decoration: none;
    background-color: #281005;
    margin-top: 220px;
    width: 1920px;
    font-family: 'Geo';
}
#contact-color{
    display: flex;
    color: #ffffff;
    font-size: 35px;
}
