@font-face {
    font-family: "Geo";
    src: url(../Fonts/Geo-Regular.ttf);
}









#item2 {
    position: absolute;
    width: 998px;
    height: 140px;
    left: 411px;
    top: 500px;

    font-family: 'Geo';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;

    color: #000000;

#minknop{
    background-color: #D9D9D9;
    cursor: pointer;
}

#plusknop{
    background-color: #D9D9D9;
    cursor: pointer;

    font-family: 'Geo';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;
}
#min2{
    display: flex;
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1300px;
    top: 530px;

    font-family: 'Geo';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;
}
#number2{
    display: flex;
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1380px;
    top: 530px;

    font-family: 'Geo';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;
}
#plus2{
    display: flex;
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1420px;
    top: 530px;

    font-family: 'Geo';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    display: flex;
    align-items: center;
}

#kopen{
    background-color: #471609;  
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
#kopen:hover{
    filter: contrast(60%);
}
 
