@font-face {
    font-family: "Geo";
    src: url(../Fonts/Geo-Regular.ttf);
}

table{
    display: flex;
    text-align: center;
    justify-content: center;
    border: 5px;
    border-color: #471609;
    border-width: 15px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    width: 70%;
    height: 20%;
    margin-left: 10%;
    font-family: Geo;
    font-size: 200%;
}

#plus{
    height: 20px;
    width: 20px;
    padding-left: 3px;
}

#min{
    height: 20px;
    width: 20px;
    padding-right: 3px;
}

#minknop{
    background-color: #D9D9D9;
    cursor: grab;
}

#plusknop{
    background-color: #D9D9D9;
    cursor: grab;
}


