@font-face {
    font-family: "Geo";
    src: url(../Fonts/Geo-Regular.ttf);
}

#ConcertenCurrentPage{
    text-decoration:underline;
}
#body{
    display: flex;
    height: 480px;
   justify-content: center;
   margin-top: 50px;
}
#body-color{
    padding: 15px ;
}
#img-border{
    border: 5px;
    border-color: #471609;
    border-width: 15px;
    border-style: solid;
}

#SeeMore{
    position:absolute;
    margin-left: 1580px;
    margin-top: 165px;
    font-family: "Geo";
    text-decoration: none;
    color: #b11a09;
    font-size: 35px;
}
#Arrow{
    position:absolute;
    margin-left: 1700px;
    margin-top: 185px;
    font-family: "Geo";
    text-decoration: none;
    color: #b11a09;
    font-size: 35px;
}
#SeeMoreImg{
    position:absolute;
    margin-left: 1600px;
    margin-top: 160px;
    height: 50px;
    width: 220px;
}
#SeeMoreStyle{
    text-decoration: none;
}