h1, h2, #ticketDetails , td, tr, p{
    color: white;
}

#Titel{
   color: #b11a09; 
}

#ticketTitel {
    text-align: center;
    font-size: 48px;
}

#deBetereContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}



#detailItems {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30%;
}

.beschrijving {
    width: 70%;
    text-align: left;
}

#imagePlacing{
    display: flex;
    width: 40%;
}

.poster {
    margin-left: 30%;
    margin-top: 2%;
    position: absolute;
}

#gettingDescriptionMargin {
    margin-top: 25%;
}


#textPlacing {
    display: flex;
    width: 35%;
    flex-direction: column;
    margin-top: 3%;
}
